<style>

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

</style>
</style>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<h1>Welcome, <%= name %></h1>
<button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
  Logout
</button>
<h2> metrics </h2>
<body>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

  // var response = {}

  const Http = new XMLHttpRequest();
  const url=window.location.origin + '/' + "me";
  Http.open("GET", url);
  Http.send();
  Http.onreadystatechange=(e)=>{
    // response = JSON.parse(Http.responseText)
    $("body").append(Http.responseText)
  }




</script>
